:root {
  --transition-duration: 500ms;
  --transition-easing: ease-in-out;
  --slide-distance: 100%;
}

.page-enter {
  transform: translateX(var(--slide-distance));
  opacity: 0;
  will-change: transform, opacity;
}

.page-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform var(--transition-duration) var(--transition-easing),
              opacity var(--transition-duration) var(--transition-easing);
}

.page-exit {
  transform: translateX(0);
  opacity: 1;
}

.page-exit-active {
  transform: translateX(-var(--slide-distance));
  opacity: 0;
  transition: transform var(--transition-duration) var(--transition-easing),
              opacity var(--transition-duration) var(--transition-easing);
}
