* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

a{
    text-decoration: none !important;
    color: inherit !important;
}

ul , ol{
    list-style: none  !important;
    margin: 0 !important;
    padding: 0;
}