@media screen  and (max-width : 968px ) {
    .products{
grid-template-columns: repeat(3 , 1fr) !important;
    }
}

@media screen  and (max-width : 720px ) {
    .products{
grid-template-columns: repeat(2 , 1fr) !important;
    }
}

@media screen  and (max-width : 540px ) {
    .products{
grid-template-columns: 1fr !important;
    }
}