.center-urls , .right-urls {
    display: flex;
    justify-content: center;
    align-items: center;
    li{
        padding: 16px;
    }
}

header , main , footer {
    width: 80%;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
}

.products{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    .product{
      padding: 20px;
     
    }
    .product-image {
      position: relative;
      width: 90%;
      height: 80%;
      display: flex;
    align-items: center;
    justify-content: center;
      &:hover{
        .product-action li{
          opacity: 1;
        }
      }
      .product-label{
        position: absolute;
        right: 10px;
        top: 20px;
        color: red;
        font-weight: 600;
      }
      .product-action {
        position: absolute;
        top: 50%;
        left: 15px;
        z-index: 6;
        transform: translateY(-50%);
        li{
          opacity: 0;
          padding: 16px;
          border-radius: 50%;
          transition: all 0.3s ease-in-out;
          background-color: #fff;
          margin-bottom: 5px;
          svg{
            font-size: 24px;
            font-weight: 500;
          }
          &:hover{
            background: #000;
            color: #fff;
          }
                }
    }
    img{
        width: 100%;
        padding: 16px;
    }
  }
  .product-price{
    text-align: center;

  }
  .main-price{
    font-size: 24px;
    color: #aaa;
    text-decoration: line-through;
    padding: 8px;
  }
  .title{
    font-size: 24px;
    text-align: center;
  }
  .discounted-price{
    font-size: 24px;
    color: red;
  }
}


.about-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: auto;
  }
  
  .about-banner {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px 8px 0 0;
  }
  
  .about-content {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .about-content h2 {
    color: #333;
  }
  
  .about-content h3 {
    color: #4CAF50;
  }
  
  .about-content p, .about-content ul {
    color: #555;
    line-height: 1.6;
  }
  
  .about-content ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .about-content a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  .about-content a:hover {
    text-decoration: underline;
  }
  