:root {
  --shadow: 0 0 4px 2px rgba(0, 0, 0, 0.4);
}


.center-urls,
.right-urls {
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    padding: 16px;
  }
}

.header,
main,
.footer {
  width: 80%;
  margin: 0 auto;
}

.logo h1 {
  cursor: pointer;
  color: darkgreen;
}

main {
  margin-top: 4rem;
  padding-block: 1.5rem;
}

header {
  position: fixed;
  transition: 0.3;
  top: 0;
  right: 0;
  left: 0;
  background: #fff;
  box-shadow: var(--shadow);
  z-index: 10000;
}

.header {
  display: flex;
  justify-content: space-between;
}

.products-container {
  padding: 2rem 0;
}


.products {
  .product {
    padding: 16px;
    position: relative;
    display: flex;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .product-label {
      position: absolute;
      right: 8px;
      top: 14px;
      color: red;
      font-weight: 600;
    }

  }

  .product-container {
    box-shadow: var(--shadow);
    border-radius: 16px;
    padding: 16px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .product-image {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      .product-action li {
        opacity: 1;
      }
    }

    .product-action {
      position: absolute;
      top: 50%;
      left: 15px;
      z-index: 6;
      transform: translateY(-50%);

      li {
        opacity: 0;
        padding: 16px;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
        background-color: #fff;
        margin-bottom: 5px;

        svg {
          font-size: 24px;
          font-weight: 500;
        }

        &:hover {
          background: #000;
          color: #fff;
        }
      }
    }

    img {
      width: 100%;
      padding: 16px;
    }
  }

  .product-price {
    text-align: center;
    font-weight: 600;

  }

  .main-price {
    font-size: 18px;
    color: #aaa;
    text-decoration: line-through;
    padding: 8px;
  }

  .title {
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    padding: 0 20px;
  }

  .discounted-price {
    font-size: 18px;
    color: red;
  }
}


/* ! About CSS start*/

.about-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.about-banner {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px 8px 0 0;
}

.about-content {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-content h2 {
  color: #333;
}

.about-content h3 {
  color: #4CAF50;
}

.about-content p,
.about-content ul {
  color: #555;
  line-height: 1.6;
}

.about-content ul {
  list-style-type: disc;
  margin-left: 20px;
}

.about-content a {
  color: #4CAF50;
  text-decoration: none;
}

.about-content a:hover {
  text-decoration: underline;
}


/* ! About CSS end */

/* ? Login  CSS start */


.auth-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.auth-form {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 45%;
}

.auth-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  outline: none;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.btn {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.btn-login {
  background-color: black;
}

.btn-register {
  background-color: black;
}

.btn-reset {
  background-color: black;
}

.btn-back {
  background-color: gray;
}

.remember-me {
  margin: 10px 0;
}

.remember-me input {
  margin-right: 5px;
}

.forgot-password {
  display: block;
  margin-top: 10px;
  color: #b3422c;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}

.reset-notification {
  color: green;
  font-size: 16px;
}

/* ? Login CSS end */


/**  Contact CSS start */



.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.contact-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-group textarea {
  height: 150px;
  resize: vertical;
}

.btn {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.status-message {
  margin-top: 10px;
  font-size: 16px;
}


/**  Contact CSS end */

/* ! Quick View CSS start */

.quick-view-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

  img {
    width: 40px;
    height: 40px;
  }
}

.quick-view-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}


/*! Quick View CSS end  */

/*? Loading  CSS start */

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading-container p {
  margin-top: 20px;
  font-size: 1.2em;
  color: #333;
}


/*? Loading CSS end */


/* todo Details CSS*/


.product-detail-container {
  display: flex;
  max-width: 1200px;
  padding: 20px;

  .product-info .main-price {
    text-decoration: line-through;
    color: #999;
    font-size: 1.2rem;
  }

  .colors {
    margin-top: 20px;
  }

  .color-options {
    display: flex;
    gap: 10px;
  }

  .product-detail-image .swiper-slide {
    width: 100% !important;

    img {
      object-fit: contain;
      max-width: 380px !important;
      padding: 20px !important;
      object-fit: contain !important;
    }
  }

  .swiper-slide-active {
    img {
      max-width: 380px !important;
      padding: 20px !important;
      object-fit: contain !important;
    }
  }

  .color {
    width: 30px;
    height: 30px;
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .color:hover {
    transform: scale(1.1);
    border-color: #333;
  }

  .swiper-slide img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }




  h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .swiper {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .product-info {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .product-info h3 {
    margin-top: 0;
  }

  .product-info .brand,
  .product-info .category,
  .product-info .price,
  .product-info .stock {
    margin-bottom: 10px;
    font-size: 1.1rem;
  }

  .product-info .specifications ul {
    padding: 0;
    list-style-type: none;
  }

  .product-info .specifications li {
    margin-bottom: 5px;
  }

  .product-info .discounted-price {
    color: red;
    font-weight: bold;
    margin-right: 10px;
    font-size: 1.2rem;
  }
}

/* todo Details CSS end */

/* ? Select CSS start */
select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  margin: 10px 0;
  width: 150px;
  cursor: pointer;
  outline: none;
}

.select-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

select:focus {
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

option {
  padding: 10px;
  background-color: #fff;
  color: #333;
}

/* ? Select  CSS end */


/* ! Slider CSS start */

.slick-prev,
.slick-next {
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
}

.slick-prev:hover,
.slick-next:hover {
  opacity: 1;
}

.slider-image img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  color: black;
}

/* ! Slider CSS end */

/** My Account CSS start  */
#myAccount {

  .sidebar {
    width: 250px;
    background-color: #f5f5f5;
    padding: 20px;

    button {
      width: 100%;
      background: transparent;
      height: -webkit-fill-available;
      border: none;
      outline: none;
      color: inherit;
      text-align: left;
    }
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }

  .sidebar ul a {
    display: block;
  }

  .sidebar ul li {
    padding: 10px;
    cursor: pointer;
  }

  .sidebar a.active {
    width: 100% !important;
    display: block;
    color: #fff;

  }

  .sidebar ul li:hover {
    background-color: #000;
    color: #fff;
  }
}

.account-details-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: #fff;


  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .input-group {
    display: flex;
    gap: 10px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  .save-btn {
    width: 100%;
    padding: 12px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }

  .save-btn:hover {
    background-color: #444;
  }
}

/** My Account CSS end  */

/* ? Forget Password CSS start */
.forget-password-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


  .forget-password-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #0056b3;
  }
}

/* ? Forget Password CSS end */

/* todo Reset Password CSS start */

.reset-password-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .reset-password-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #0056b3;
  }
}




/* ! Search Modal CSS start */
.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 400px;
}

.modal-content button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* ! Search Modal CSS end */

/*? Footer CSS start  */


footer {
  background-color: #f8f8f8;


  .footer {
    padding: 20px 0;
  }


  .reserved {
    p {
      font-size: 12px;
    }
  }


  .footer-column h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .footer-column p,
  .footer-column ul {
    margin: 5px 0;
    font-size: 14px;
    line-height: 1.5;
  }


  .footer-column ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none;
  }

  .footer-column ul li {
    text-align: center;
    padding: 8px 0;
  }

  .footer-column p {
    text-align: center;
    padding: 8px 0;
  }

  .footer-bottom {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    margin-top: 20px;
  }

  .footer-bottom p {
    margin: 10px 0;
  }

  .payment-methods img {
    height: 30px;
    margin: 0 10px;
  }
}

/*? Footer CSS end  */