:root {
  --shadow: 0 0 4px 2px rgba(0, 0, 0, 0.4);
}

.swiper-slide {
  &::selection {
    user-select: none;
  }
}

.slick-dots {
  button {
    background: #ffffff !important;
    transition: none;

    &:hover {
      background: #ffffff !important;
      animation: none;
    }
  }

}

main>div {
  width: 80% !important;
  margin: 0 auto;
}

main>.slick-slider {
  width: 100% !important;
}


.header a {
  color: #f5f5f5;
  font-weight: bold;
  transition: color 0.3s ease !important;
}

.header a:hover {
  color: #ef476f !important;
  /* Hover durumunda dikkat çekici bir renk */
}





.product-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-container:hover {
  transform: translateY(-5px);
  /* Kart hover durumunda hafifçe yukarı çıkar */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.center-urls,
.right-urls {
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    padding: 16px;
  }
}

.header,
.footer {
  width: 80%;
  margin: 0 auto;
}

.logo h1 {
  cursor: pointer;
  color: rgb(78, 109, 170);
}

main {
  margin-bottom: 1rem;
}

header {
  position: sticky;
  background-color: #2d2d2d !important;
  color: #f5f5f5;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  top: 0;
  right: 0;
  left: 0;
  box-shadow: var(--shadow);
  z-index: 10000;

  .active {
    color: #5547ff !important;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  a.active::hover{
    color: inherit !important;
  }
}

/*? Products CSS start  */
.products-container {
  padding: 2rem 0;
}


.products {
  .product {
    padding: 16px;
    position: relative;
    display: flex;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
.product-content{
  cursor: pointer !important;
}
    .product-label {
      position: absolute;
      right: 8px;
      top: 14px;
      color: red;
      font-weight: 600;
    }

  }

  .product-container {
    padding: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .product-image {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      .product-action li {
        opacity: 1;
      }
    }

    .product-action {
      position: absolute;
      top: 50%;
      left: 15px;
      z-index: 6;
      transform: translateY(-50%);

      li {
        opacity: 0;
        padding: 16px;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
        background-color: #fff;
        margin-bottom: 5px;
        cursor: pointer;

        svg {
          font-size: 24px;
          font-weight: 500;
        }

        &:hover {
          background: #000;
          color: #fff;
        }
      }
    }

    img {
      width: 100%;
      padding: 16px;
    }
  }

  .product-price {
    text-align: center;
    font-weight: 600;

  }

  .main-price {
    font-size: 18px;
    color: #aaa;
    text-decoration: line-through;
    padding: 8px;
  }

  .title {
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    padding: 0 20px;
  }

  .discounted-price {
    font-size: 18px;
    color: red;
  }
}

/*? Products CSS end  */

/* ! About CSS start*/

.about-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: auto;


  .about-banner {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px 8px 0 0;
  }

  .about-content {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .about-content h2 {
    color: #333;
  }

  .about-content h3 {
    color: #4CAF50;
  }

  .about-content p,
  .about-content ul {
    color: #555;
    line-height: 1.6;
  }

  .about-content ul {
    padding: 0;
  }

  .about-content a {
    color: #4CAF50;
    text-decoration: none;
  }

  .about-content a:hover {
    text-decoration: underline !important;
  }

}

/* ! About CSS end */

/* ? Login  CSS start */

.login-container,
.register-container,
.forget-password-container,
.reset-password-container {

  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: #0077b6;
    /* Focus durumunda mavi renk */
    outline: none;
  }


  button {
    background-color: #0077b6 !important;
    /* Modern ve canlı bir mavi renk */
    color: white !important;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease !important;
  }

  button:hover {
    background-color: #023e8a !important;
    /* Hover durumunda daha koyu bir ton */
    transform: translateY(-3px);
    /* Butonun yukarı doğru hafif bir hareket kazanması */
  }

  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
  }

  .input-group {
    margin-bottom: 15px;
  }

  .input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
  }

  .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .btn-login,
  .btn-register {
    width: 100%;
    padding: 10px;
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-login:hover {
    background-color: #005f8b;
  }

  .login-options {
    text-align: center;
    margin-top: 20px;
  }

  .login-options a {
    margin: 0 10px;
    font-size: 14px;
    color: #0077b6;
    text-decoration: none;
  }

  .login-options a:hover {
    text-decoration: underline;
  }

  .remember-me {
    margin: 10px 0;
  }

  .remember-me input {
    margin-right: 5px;
  }
}



/* ? Login CSS end */


/**  Contact CSS start */



.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.contact-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-group textarea {
  height: 150px;
  resize: vertical;
}

.btn {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.status-message {
  margin-top: 10px;
  font-size: 16px;
}


/**  Contact CSS end */

/* ! Quick View CSS start */

.quick-view-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

  img {
    width: 40px;
    height: 40px;
  }
}

.quick-view-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}


/*! Quick View CSS end  */

/*? Loading  CSS start */

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading-container p {
  margin-top: 20px;
  font-size: 1.2em;
  color: #333;
}


/*? Loading CSS end */


/* todo Details CSS*/


.product-detail-container {
  /* display: flex;
  flex-wrap: wrap;
  max-width: 1200px; */
  padding: 20px;
}

.product-detail-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-detail-image .swiper {
  width: 100%;
  max-width: 380px; /* Maksimum genişliği belirledik */
  height: 400px; /* Yüksekliği manuel olarak belirledik */
}

.product-detail-image .swiper-slide img {
  mix-blend-mode: color-burn;
  width: 100%;
  height: 100%;
  object-fit: contain; /* Görüntü oranlarını korumak için kullanıldı */
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.product-info {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.product-info h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.product-info .brand,
.product-info .category,
.product-info .price,
.product-info .stock {
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: #555;
}

.product-info .specifications ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 20px;
}

.product-info .specifications li {
  margin-bottom: 10px;
  color: #666;
}

.product-info .discounted-price {
  color: #e74c3c;
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 15px;
}

.product-info .main-price {
  text-decoration: line-through;
  color: #bbb;
  font-size: 1.2rem;
}

.colors {
  margin-top: 30px;
}

.color-options {
  display: flex;
  gap: 15px;
}

.color {
  width: 35px;
  height: 35px;
  border: 2px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.color:hover {
  transform: scale(1.2);
  border-color: #333;
}

@media (max-width: 768px) {
  .product-detail-container {
    flex-direction: column;
  }

  .product-detail-image {
    width: 100%;
  }

  .swiper {
    height: 300px;
  }

  .product-info {
    padding: 20px;
  }

  .product-info h1 {
    font-size: 1.8rem;
  }

  .product-info .brand,
  .product-info .category,
  .product-info .price,
  .product-info .stock {
    font-size: 1.1rem;
  }

  .product-info .discounted-price {
    font-size: 1.3rem;
  }
}


/* todo Details CSS end */

/* ? Select CSS start */
select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  margin: 10px 0;
  width: 150px;
  cursor: pointer;
  outline: none;
}

.select-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

select:focus {
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

option {
  padding: 10px;
  background-color: #fff;
  color: #333;
}

/* ? Select  CSS end */


/* ! Slider CSS start */

.slick-prev,
.slick-next {
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
}

.slick-prev:hover,
.slick-next:hover {
  opacity: 1;
}

.slider-image img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  color: black;
}

/* ! Slider CSS end */

/** My Account CSS start  */
#myAccount {

  .sidebar {
    max-width: 250px;
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    .logout{
      width: 100%;
    }
    .active {
      background-color: #484f9a;
      color: #fff;
    }

    button {
      width: 100%;
      background: transparent;
      height: -webkit-fill-available;
      border: none;
      outline: none;
      color: inherit;
      text-align: left;
    }
  }

  .sidebar ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
  }

  .sidebar ul a {
    display: block;
  }

  .sidebar ul li {
    cursor: pointer;
  }

  .sidebar a.active {
    width: 100% !important;
    display: block;
    color: #fff !important;

  }

  .sidebar ul li:hover {
    background-color: #484f9a;
    color: #fff;
  }
}

.account-details-form {
  /* max-width: 500px; */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: #fff;


  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .input-group {
    display: flex;
    gap: 10px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }

  .save-btn {
    width: 100%;
    padding: 12px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }

  .save-btn:hover {
    background-color: #007BFF;
  }
}

/** My Account CSS end  */

/* ? Forget Password CSS start */
.forget-password-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


  .forget-password-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #0056b3;
  }
}

/* ? Forget Password CSS end */

/* todo Reset Password CSS start */

.reset-password-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .reset-password-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #0056b3;
  }
}




/* ! Search Modal CSS start */
.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 400px;
}

.modal-content button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* ! Search Modal CSS end */

/*? Footer CSS start  */


footer {
  background-color: #f8f8f8;


  .footer {
    padding: 20px 0;
  }


  .reserved {
    p {
      font-size: 12px;
    }
  }


  .footer-column h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .footer-column p,
  .footer-column ul {
    margin: 5px 0;
    font-size: 14px;
    line-height: 1.5;
  }


  .footer-column ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none;
  }

  .footer-column ul li {
    text-align: center;
    padding: 8px 0;
  }

  .footer-column p {
    text-align: center;
    padding: 8px 0;
  }

  .footer-bottom {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    margin-top: 20px;
  }

  .footer-bottom p {
    margin: 10px 0;
  }

  .payment-methods img {
    height: 30px;
    margin: 0 10px;
  }
}

/*? Footer CSS end  */